body {
    font-family: "Poppins", sans-serif;

}
.header{
    width: 100%;
    max-width: 1400px;
    padding-top: 20px; 
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    max-width: 1400px;
    padding-top: 20px; 
    padding-left: 60px;
    padding-right: 60px;

}
.nav{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    
}
.nav_btn1{
    color: #173A56;
    border-color: #BCD0E5;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: none;
    padding: 11px 20px;
    font-weight: 600;
    margin-left: 30px;
    
}
.nav_btn2{
    color: #ffffff;
    background-color: #FF9900;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    padding: 11px 20px;
    font-weight: 600;
    margin-left: 14px;
}
.nav>li>a{
    text-decoration: none;
    margin-left: 24px;
    color: #2F281E;
    font-weight: 400;

}
.logo{
    display: flex;
    align-items: center;
}
.logo_img {
    background-image: url(../images/productly\ logo.png);
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.logo_text_img{
    background-image: url(../images/Productly-text-logo.png);
    display: block;
    width: 145px;
    height: 30px;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.info_title{
    font-weight: 700;
    font-size: 44px;
}
.info_text{
    font-weight: 400;
    font-size: 18px;
}
.info_btn1{
    font-weight: 700;
    font-size: 16px ;
    text-decoration: none;
    box-shadow: none;
    color: #ffffff;
    background-color: #FF9900;
    padding: 15px 41px;
    border-radius: 4px;
    border: none;
}
.info_left{
    max-width: 518px ;
}
.info_buttons{
    text-decoration: none ;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
    font-size: 16px ;
}
.video_link{
    color: #FF9900;
    margin-left: 10px;
}
.orange_play_button{
    margin-left: 30px;
}
section{
    display: inline-block;
}
.sign_up_now_btn{
    display: flex;
    align-content: center;
    color: #ffffff;
    background-color: #FF9900;
    border: none;
    border-radius: 4px;
    padding: 15px 32px;
    font-size: 16px;
    font-weight: 700;
}
h3{
    font-weight: 600;
    font-size: 22px;
}
p{
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    
}

section{
    width: 48%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 210px ;
}
section img {
    max-width: 100%;
    height: auto;
  }
.header2{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-right: 350px;
    margin-left: 350px;
   
}
.container{
    display: flex;
    justify-content:  space-evenly ;
    align-items: center;
    padding-right: 20px;
}
.sign_up_now_btn:hover {
    background-color: #ff8c00; 
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.tick_text_container{
    display: flex;
    flex-wrap: warp;
    gap: 20px;
    flex-direction: column;

}
.tick_text{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}